.swp
.*.swp
*.Pbeam
*.beam
ac-aux/
aclocal.m4
autom4te.cache/
config.h*
config.log*
config.status*
configure
stamp-*
.deps
.rebar
Makefile
Makefile.in
*/Makefile
*/Makefile.in
ebin/yaws_logger.app
ebin/yaws_logger.appup

# Files produced by Debian package.
build-stamp
configure-stamp
debian/*.debhelper.log
debian/*.substvars
debian/build
debian/files
debian/yaws_logger
debian/*-stamp
