Source: erlang-yaws-logger
Section: devel
Priority: optional
Maintainer: Christopher Faulet <christopher@yakaz.com>
Uploaders: Jean-Sébastien Pédron <jean-sebastien@yakaz.com>
Build-Depends: dh-autoreconf, debhelper (>= 9), erlang-yaws (>= 1.96),
 erlang-dev (>= 1:14.b.2), erlang-tools
Standards-Version: 3.9.4

Package: erlang-yaws-logger
Architecture: all
Priority: optional
Depends: ${misc:Depends}, ${erlang:Depends}
Suggests: erlang-lager (>= 2.0.0), erlang-sysloggerl (>= 1.2.0)
Description: Erlang/OTP application that provides an extended logger for Yaws
 The yaws_logger application extends logging functionality of Yaws. Logs are
 written in a customizable format and may be written to the console, to a file,
 or through syloggerl or lager applications.
